NODE_ENV=development
PORT=3000

KAFKA_ENABLED=true
KAFKA_CLIENT_ID=io-card-manager
KAFKA_BROKERS=kafka:9092
KAFKA_PROCESSOR_GROUP_ID=card-processor-group
KAFKA_PROCESSOR_MAX_RETRIES=4
AUTH_BASIC_USERNAME=issuer-user
AUTH_BASIC_PASSWORD=issuer-password

DB_ENABLED=true
DB_HOST=postgres
DB_PORT=5432
DB_NAME=io_card_manager
DB_USER=postgres
DB_PASSWORD=postgres

CHOKIDAR_USEPOLLING=true

ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000

KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_UI_CLUSTER_NAME=local
KAFKA_UI_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_UI_ZOOKEEPER=zookeeper:2181
KAFKA_UI_PORT=8080

POSTGRES_DB=io_card_manager
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
